argon2-cffi
async-generator==1.10
attrs
backcall==0.2.0
bleach
certifi==2020.6.20
cffi
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi
Jinja2==2.11.2
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-server==1.0.4
jupyterlab-pygments
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
nbclient
nbconvert
nbformat==5.0.7
nest-asyncio
notebook
numpy==1.19.2
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit
pycparser
Pygments
pyparsing==2.4.7
pyrsistent
python-dateutil==2.8.1
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
Send2Trash==1.5.0
six==1.15.0
terminado==0.9.1
testpath==0.4.4
tornado==6.0.4
traitlets
voila==0.2.3
wcwidth
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp
